.mainContainer {
  color: var(--white);
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  background: linear-gradient(90deg, var(--secondary) 0%, var(--primary) 100%);
  z-index: 100;
}

.leftContainer {
  padding-left: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-right: 32px;
}

.hamburger {
  display: none;
  margin-left: 32px;
}

.mobileContainer {
  display: none;
}

@media (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .leftContainer {
    display: none;
  }

  .mobileContainer {
    position: fixed;
    z-index: 100;
    top: 56px;
    left: 0;
    background: linear-gradient(90deg, var(--secondary) 0%, var(--primary) 100%);
    padding: 0 32px;
  }

  .displayMobile {
    display: block;
  }
}
