:root {
  --primary: #415cb6;
  --secondary: #582777;
  --warning: #ffa500;
  --danger: #ef4433;
  --success: #50b83c;
  --default: #e5e5e5;
  --black: #000;
  --white: #fff;
  --light-gray: #e5e5e5;
}
