.sidebarWrapper {
  height: 100%;
  width: 256px;
  left: 0;
  top: 56px;
  bottom: 0;
  background: var(--white);
  box-shadow: 1px 0 0 var(--light-gray);
  z-index: 9;
  text-align: left;
  transform: translateX(0);
  transition: transform 0.1s linear;
}

.sidebarWrapper.transition {
  transform: translateX(-256px);
}

.sidebarWrapper .sidebarContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
