.sidebarWrapper {
  position: fixed;
  left: 0;
  top: 56px;
  bottom: 0;
  width: 256px;
  background: var(--white);
  box-shadow: 1px 0px 0px var(--light-gray);
  z-index: 9;
  text-align: left;
  transform: translateX(0px);
  transition: transform 0.1s linear;
}

.sidebarWrapper.transition {
  transform: translateX(-256px);
}

.sidebarWrapper .sidebarContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebarWrapper .sidebarContent .sidebarBody {
  list-style-type: none;
  padding: 32px 16px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.sidebarWrapper .sidebarContent .sidebarFooter {
  list-style-type: none;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
}
