.container {
    height: calc(100% - 56px);
    width: 100%;
    display: flex;
}

.contentWrapper {
    width: calc(100% - 256px);
    display: flex;
    overflow: auto;
    padding: 32px;
}

.contentContainer {
    margin: 0 auto;
    height: 15000px; /*TODO*/
}
