.container {
  background-color: white;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  border: 1px solid var(--light-gray);
  padding: 16px;
  line-height: 24px;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
}

.icon {
  padding: 0 6px;
  border-radius: 50%;
}

.icon:hover {
  cursor: pointer;
  background: var(--light-gray);
}

.expanded {
  padding: 16px 32px;
}

.accordion {
  transition: 0.1s linear;
  max-height: 0;
  overflow: hidden;
}

.accordion.active {
  transition: 0.3s linear;
  max-height: 90vh;
}
