.container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.horizontal {
  flex-direction: column;
}

.name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.before {
  order: 0;
}

.after {
  order: 2;
}

.img {
  cursor: default;
  border-radius: 50%;
  order: 1;
  box-shadow: var(--light-gray) 0 2px 8px 0;
  height: 100%;
  width: 100%;
}

.letter {
  background: var(--white);
  color: var(--primary);
}
.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.danger {
  color: var(--danger);
}

.warning {
  color: var(--warning);
}

.success {
  color: var(--success);
}

.black {
  color: var(--black);
}

.gray {
  color: var(--gray);
}

.clickable:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
