.container {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--black);
  opacity: 50%;
}

.container::after {
  content: 'x';
  position: fixed;
  top: 16px;
  right: 24px;
  font-size: 32px;
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
  padding: 24px;
  border-radius: 50%;
}

.paper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: var(--white);
  padding: 24px 32px;
  min-width: 400px;
  min-height: 200px;
  max-width: 80%;
  max-height: 80%;
}
