.container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list {
  white-space: nowrap;
  text-align: left;
}

.list a {
  line-height: 20px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--black);
}

.list:not(:last-child) a:after {
  padding-left: 8px;
  color: var(--black);
  content: '/';
}

.list:last-child {
  flex: 0 0 100%;
  font-size: 24px;
  line-height: 36px;
}

.list:last-child a {
  color: var(--primary);
  cursor: default;
}
